@attribute [AllowAnonymous]
@inject NavigationManager NavigationManager



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Happy Bee</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <!--
     <div class="nav-item px-3">
         <NavLink class="nav-link" href="login">
             <img src="user.png" alt="login" style="width: 28px; height: 28px; margin: 10px;" /> Login
         </NavLink>
     </div>
    -->

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
              @*   <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
                <img src="home1.png" alt="Home" style="width: 28px; height:28px; margin: 10px;" /> Home
            </NavLink>
        </div>
           <AuthorizeView>
            <Authorized> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="user.png" alt="Profile" style="width: 28px; height: 28px; margin: 10px;" /> Profile
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="info">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="info1.png" alt="Info" style="width: 28px; height: 28px; margin: 10px;" /> Info
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
               @*  <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
                <img src="weather.png" alt="Weather" style="width: 28px; height:28px; margin: 10px;" /> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <!--- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tasks -->
                <img src="task.png" alt="AddTask" style="width: 28px; height:28px; margin: 10px;" /> Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beehives">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="beehiveBL.png" alt="Beehives" style="width: 28px; height: 28px; margin: 10px;" /> Beehives
            </NavLink>

        </div>  
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bee-friends">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="beesss.png" alt="Bee-friends" style="width: 28px; height: 28px; margin: 10px;" /> Bee Friends
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="friends">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="beesss.png" alt="Friends" style="width: 28px; height: 28px; margin: 10px;" /> Friends
            </NavLink>
        </div>

        


             </Authorized>
        </AuthorizeView>
        

    </nav>
</div>
<AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <form action="/login" method="post">
                 <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

