




<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Happy Bee</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <!--
     <div class="nav-item px-3">
         <NavLink class="nav-link" href="login">
             <img src="user.png" alt="login" style="width: 28px; height: 28px; margin: 10px;" /> Login
         </NavLink>
     </div>
    -->

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
              @*   <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
                <img src="home1.png" alt="Home" style="width: 28px; height:28px; margin: 10px;" /> Home
            </NavLink>
        </div>
     @*    <AuthorizeView>
           <Authorized> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="user.png" alt="Profile" style="width: 28px; height: 28px; margin: 10px;" /> Profile
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
               @*  <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
                <img src="weather.png" alt="Weather" style="width: 28px; height:28px; margin: 10px;" /> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <!--- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tasks -->
                <img src="task.png" alt="AddTask" style="width: 28px; height:28px; margin: 10px;" /> Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beehives">
                <!-- <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beehives -->
                <img src="beehiveBL.png" alt="Beehives" style="width: 28px; height: 28px; margin: 10px;" /> Beehives
            </NavLink>
        </div>
        @*     </Authorized>
        </AuthorizeView>
        *@

    </nav>
</div>


