body {
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.login-okno {
    text-align: center;
    border: 5px solid gold;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 100px;
    
}
.accBox {
    margin-bottom: 10px;

}

input[type=text] {
   
    box-sizing: border-box;
    border: 2px solid black;
    outline: none;
    font: bold;
}


input[type=text]:focus {
    border: 3px solid gold;
}

.passBox {
    padding: 8px;
    margin-bottom: 10px;
    
}

.login-okno img {
    display: block;
    margin: 0 auto;

}
