@page "/tasks"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@* @inject NavigationManager NavigationManager *@
@attribute [StreamRendering]
@inject IJobServices JobService


<head>
    <title>Tasks</title>
</head>


<h2> <strong> Tasks </strong> </h2>
<h4> Be as productive as Bee <span class="beeimg"></span> </h4>
<br>

<CreateJobButton></CreateJobButton>
 <body>
  

  
</body>

@if (jobs == null) 
{
    <span>Loading...</span><br>
}
else if (jobs.Count == 0)
{
    <span>No tasks found.</span><br>
}
else
{
    <div class="tasks-container">
        @foreach (var job in jobs)
        {
            <div class="task-card" style="@GetBorderStyle(job.Priority)">
            <h2>@job.Name </h2>
            <h5>@job.Description</h5>
                <div class="task-buttons">
                     <EditJobButton Id="job.Id"/>
                     <DeleteJobButton Id="job.Id" OnJobDeleted="HandleJobDeleted" />
                    </div>
            </div>
        }
}

@code {
    List<Job>? jobs = null;

    protected override async Task OnInitializedAsync()
    {
        jobs = await JobService.GetAllJobs();

    }

    private async Task HandleJobDeleted(int id)
    {
        jobs = jobs?.Where(job => job.Id != id).ToList(); 
        StateHasChanged(); 
    }

    private string GetBorderStyle(int priority)
    {
        return priority switch
        {
            1 => "border: 4px solid red;",
            2 => "border: 4px solid green;",
            3 => "border: 4px solid black;",
            _ => "border: 4px solid black;" // Defaultný okraj
        };
    }
}