/* V��ka celej str�nky */
html[b-tc53vxo59z], body[b-tc53vxo59z] {
    height: 100%;
    margin: 0;
}

.page[b-tc53vxo59z] {
    display: flex;
    min-height: 100vh;
}

main[b-tc53vxo59z] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url(background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    /* opacity: 75%; */
}

article.content[b-tc53vxo59z] {
    flex-grow: 1;
    padding: 1rem;
}

.sidebar[b-tc53vxo59z] {
    background-image: linear-gradient(180deg, rgb(255, 223, 0) 0%, gold 90%);
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    flex-shrink: 0;
}

/* Vyh�ad�vanie a horn� panel */
.top-row[b-tc53vxo59z] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

/* �t�ly pre vyh�ad�vac� panel */
.search-bar[b-tc53vxo59z] {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .search-bar input[b-tc53vxo59z] {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
    }

        .search-bar input:focus[b-tc53vxo59z] {
            border-color: #ffd700;
        }

.btn-gold[b-tc53vxo59z] {
    padding: 5px 10px;
    background-color: #ffd700;
    border: 1px solid #ffd700;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-gold:hover[b-tc53vxo59z] {
        background-color: #ccac00;
        border-color: #ccac00;
        color: #000;
    }

/* �t�ly pre login link */
.login-link[b-tc53vxo59z] {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

    .login-link:hover[b-tc53vxo59z] {
        background-color: #007bff;
        color: white;
    }

/* Media Queries */
@media (max-width: 640.98px) {
    .top-row[b-tc53vxo59z] {
        justify-content: space-between;
    }

        .top-row[b-tc53vxo59z]  a,
        .top-row[b-tc53vxo59z]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-tc53vxo59z] {
        flex-direction: row;
    }

    .top-row[b-tc53vxo59z] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-tc53vxo59z]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-tc53vxo59z], article[b-tc53vxo59z] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* Blazor error UI */
#blazor-error-ui[b-tc53vxo59z] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-tc53vxo59z] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
