.weather-forecast-container[b-t1hq94f9vc] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.weather-box[b-t1hq94f9vc] {
    background-color: gold;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    width: 180px;
    text-align: center;
    color: #222;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease-in-out;
}

    .weather-box:hover[b-t1hq94f9vc] {
        transform: scale(1.05);
    }

    .weather-box img[b-t1hq94f9vc] {
        max-width: 80px;
        height: auto;
        margin-top: 10px;
    }
.search-box[b-t1hq94f9vc] {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .search-box input[b-t1hq94f9vc] {
        width: 250px;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid gold;
        outline: none;
        font-size: 16px;
        text-align: center;
    }

    .search-box button[b-t1hq94f9vc] {
        background-color: gold;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
        transition: 0.3s;
    }

        .search-box button:hover[b-t1hq94f9vc] {
            background-color: darkgoldenrod;
        }
