@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<button class="btn btn-warning" type="button" @onclick="CreateTask"><strong>Create Task</strong></button>



@code {

    private void CreateTask()
    {
        NavigationManager.NavigateTo("/edit-tasks");    
    }

}
