@inject NavigationManager NavigationManager
@inject HttpClient Http


<button @onclick="LogoutUser" class="btn btn-link"> Logout </button>

@code {
    private async Task LogoutUser()
    {
        Console.WriteLine("STLACENE LOGOUT");
        await Http.PostAsync("api/user/logout", null);

        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
