@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject HttpClient Http


<button @onclick="LogoutUser" class="btn btn-link"> Logout </button>

@code {
    private async Task LogoutUser()
    {
        Console.WriteLine("STLACENE LOGOUT");
        //await Http.PostAsync("api/user/logout", null);
        await SignInManager.SignOutAsync();

        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
