body[b-ltrdgmgrfl] {
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.login-okno[b-ltrdgmgrfl] {
    text-align: center;
    border: 5px solid gold;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 100px;
    
}
.accBox[b-ltrdgmgrfl] {
    margin-bottom: 10px;

}

input[type=text][b-ltrdgmgrfl] {
   
    box-sizing: border-box;
    border: 2px solid black;
    outline: none;
    font: bold;
}


input[type=text]:focus[b-ltrdgmgrfl] {
    border: 3px solid gold;
}

.passBox[b-ltrdgmgrfl] {
    padding: 8px;
    margin-bottom: 10px;
    
}

.login-okno img[b-ltrdgmgrfl] {
    display: block;
    margin: 0 auto;

}
