h4[b-mgsnpf7tlv] {
    font-size: 12px;
    font-style: italic;
    display: inline-flex;
    align-items: center;
}

.beeimg[b-mgsnpf7tlv] {
    background-image: url(bee.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    float: right;
}
.addtask[b-mgsnpf7tlv] {
    margin-top: 10px;
}
.btn[b-mgsnpf7tlv] {
    padding: 7px 10px;
}


