@page "/login"
@inherits LayoutComponentBase




<head>
    <title>Login</title>
</head>

<div class="login-okno">

    <img src="keeperLogin.png" alt="USER" style="height: 300px; width:300px;"/> 
    <div class="accBox">
        <p class="account-name">Account name</p>
        <input type="text"  />
    </div>
    <div class="passBox">
        <p class="password">Password</p>
        <input type="text"  />
    
    </div>
</div>

@code {

}
