@page "/login"
@inherits LayoutComponentBase


<h1>Login</h1>


<div class="login-okno">

    <img src="keeperLogin.png" alt="USER" style="height: 300px; width:300px;"/> 
    <div class="accText">
        <p class="account-name">Account name</p>
        <input Account name />
        <p class="password">Password</p>
        <input Password />
    </div>
</div>

@code {

}
