h4 {
    font-size: 12px;
    font-style: italic;
    display: inline-flex;
    align-items: center;
}

.beeimg {
    background-image: url(bee.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    float: right;
}
.addtask {
    margin-top: 10px;
}
.btn {
    padding: 7px 7px;
}



