@page "/tasks"
 
<PageTitle>Tasks</PageTitle>
 <h2>Tasks</h2>
 <h4> Be as productive as Bee <span class="beeimg"></span> </h4>

 <body>
    <div class="addtask">
        <label> <strong> Add your TASK: </strong> <input @bind="Task" /> 
            <button class="btn btn-warning" type="button" @onclick="saveTask"><strong>Save Task</strong></button>
            <button class="btn btn-danger" type="button" @onclick="deleteTask"><strong>Delete</strong></button>
            <button class="btn btn-dark" type="button" @onclick="editTask"><strong>Edit</strong></button>
        </label>
    </div>

  
</body>

@code {

    private string Task; 

    public void saveTask() {
        //Console.WriteLine("Saved!");

        Console.WriteLine(Task);
        StateHasChanged();
    } 
    private void editTask(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
    private void deleteTask(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
}